<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">A bit about me</h2>
                <hr class="light">
                <p>I am a software engineer and a consultant.</p>
                <p>My specialty is the design and implementation of enterprise applications in Java for large organizations.</p>
                <p>
                  I have a BSc in Software Engineering from Istituto Politecnico of Turin,
                  various certifications and training in software development, software testing, and cybersecurity,
                  and now I am completing my MSc in Computer Science at the University of Essex.
                </p>
                <p>
                  I have been working in the north-west Italy, Belgium and The Netherlands, since 2005.
                  Currently, I work for Clim8 Invest, a wonderful company in London that moves investments towards the green economy.
                </p>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row">
          <div class="col-12 text-center">
                <div class="about-logo">
                  <img src="img/logo/telecom.png" alt="Telecom Italia Lab"/>
                  <img src="img/logo/csi.png" alt="CSI Piemonte"/>
                  <img src="img/logo/intesasanpaolo.png" alt="Intesa Sanpaolo"/>
                  <img src="img/logo/vodafone.png" alt="Vodafone"/>
                  <img src="img/logo/cedacri.png" alt="Cedacri"/>
                  <img src="img/logo/wiseenergy.png" alt="Wise Energy"/>
                  <img src="img/logo/orange.png" alt="Orange"/>
                  <img src="img/logo/knowledgevalues.png" alt="Knowledge Values"/>
                  <img src="img/logo/schiphol.png" alt="Schiphol Airport"/>
                  <img src="img/logo/clim8.svg" alt="Clim8 Invest Ltd."/>
                </div>
          </div>
        </div>
    </div>
</section>
